<ion-view title="Hypertension Manager">
<ion-content>
  <ion-nav-view>
    <div class="list card">
      <ion-item>
      <a href="#/app/addBP"> <img class="full-image" src="img/addbp.JPG" width="80px"></a>
      </ion-item>
      <table style="width:100%">
        <tr>
          <td rowspan="3"><ion-item><a href="#/app/rawatan"> <img src="img/rwtn.JPG" height="90%" width="100%"></a></ion-item></td>
          <td width="2px"></td>
          <td rowspan="2"><ion-item><a href="#/app/detail"> <img ng-src="img/info.JPG" height="127%" width="100%"></a></ion-item></td>
        </tr>
      </table>
      <table>
        <tr>
         <ion-item> <a href="#/app/reminder"> <img ng-src="img/alrm.JPG" width="100%" height="80px"></a></ion-item>
        </tr>
        <tr>
         <ion-item> <a href="#/app/rekod"> <img ng-src="img/rekod.JPG" width="100%" height="80px"></a></ion-item>
        </tr>
      </table>  
    </div>
  </ion-nav-view>
  <ion-content>
</ion-view>