<ion-view title="Hypertension Manager: Admin">
    <ion-content padding="'true'" class="has-header">
    <br>
    <br>
        <a href="#/loginn/addMed" class="button button-balanced button-outline button-block ">Add Treatment Suggestion</a>
    <br>
    <br>
        <a href="#/loginn/viewMed" class="button button-balanced button-outline button-block">View Treatment Suggestion</a>
    <br>
    <div align="center">
        <a href="#/loginn/login" class="button button-clear button-positive">Logout</a>
    </div>
   
    </ion-content>
</ion-view>