<ion-view title="Hypertension Manager">
    <ion-content padding="'true'">
        <br>
        <br>
            <a href="#/loginn/loginUser" class="button button-balanced button-outline button-block ">ADMIN</a>
        <br>
        <br>
            <a href="#/loginn/loginUser" class="button button-balanced button-outline button-block ">USER</a>
        <br>
        <div align="center">
           <a href="#/loginn/register" class="button button-clear button-positive">Register</a>
        </div>
        
    </ion-content>
</ion-view>